.devsite-code-button-wrapper {
  margin-top: -8px;
  position: absolute;
  right: 0;
}
.devsite-dark-code-button::before {
  content: 'hdr_strong';
}
.devsite-dark-code .devsite-dark-code-button::before {
  content: 'hdr_weak';
}
.devsite-click-to-copy-button::before {
  content: 'content_copy';
}
.devsite-code-button:hover, .devsite-code-button:focus {
  background: rgba(0,0,0,.54);
}
.devsite-code-button-wrapper .devsite-code-button:hover {
  cursor: pointer;
}
.devsite-article-body .material-icons:not(:link), .devsite-landing-page .devsite-article .material-icons:not(:link) {
  cursor: default;
}
.devsite-article-body .material-icons, .devsite-landing-page .devsite-article .material-icons {
  vertical-align: bottom;
}
.devsite-dark-code .devsite-code-button:hover, .devsite-dark-code .devsite-code-button:focus {
  background: rgba(204,204,204,.3);
}
.devsite-code-button {
  background: rgba(0,0,0,.26);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: 0;
  padding: 3px;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.devsite-table-wrapper::-webkit-scrollbar-corner, pre::-webkit-scrollbar-corner {
  background: 0;
}
.devsite-table-wrapper::-webkit-scrollbar, pre::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}