*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
body, html {
  font: 00 16px/24px 微軟正黑體,'Microsoft JhengHei',Arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
iframe {
  border: 0;
}
.framebox {
  margin: -20px;
}
a code, td a code {
  color: #2962ff;
}
code {
  font: 500 90%/1 Roboto Mono,monospace;
  word-break: break-word;
}
pre {
  font-family: monospace;
  white-space: pre;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}
code, pre, .pre-style {
  background: #f7f7f7;
  color: #37474f;
  font: 400 100%/1 Roboto Mono,monospace;
  padding: 1px 4px;
}
pre, .pre-style {
  font: 14px/20px Roboto Mono,monospace;
  margin: 16px 0;
  overflow-x: auto;
  padding: 8px;
  position: relative;
}
pre .kwd, pre .tag {
  color: #3f51b5;
}
#embedded-explorer .com-google-api-explorer-client-Resources-Css-jsonKey, pre .typ, pre .atn {
    color: #9c27b0;
}
#embedded-explorer .com-google-api-explorer-client-Resources-Css-jsonBoolean, pre .str, pre .atv {
  color: #388e3c;
}
.com-google-api-explorer-client-auth-AuthView_AuthUiBinderImpl_GenCss_style-scopePanel::-webkit-scrollbar-thumb, .com-google-api-explorer-client-embedded-EmbeddedParameterForm_EmbeddedParameterFormUiBinderImpl_GenCss_style-fields::-webkit-scrollbar-thumb, .devsite-apix::-webkit-scrollbar-thumb, .devsite-dialog::-webkit-scrollbar-thumb, .devsite-nav-responsive::-webkit-scrollbar-thumb, .devsite-overflow-menu::-webkit-scrollbar-thumb, .devsite-page-nav::-webkit-scrollbar-thumb, .devsite-popout::-webkit-scrollbar-thumb, .devsite-section-nav::-webkit-scrollbar-thumb, .devsite-section-nav-responsive::-webkit-scrollbar-thumb, .devsite-table-wrapper::-webkit-scrollbar-thumb, .kd-menulist::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}
ul {
  list-style: disc outside;
}
dd, ol, ul {
  margin: 0;
  padding-left: 40px;
}
li, li p {
  margin: 8px 0;
  padding: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
:link, :visited {
  color: #2962ff;
  outline: 0;
  text-decoration: none;
}